{% extends 'Home/base.html' %}

{% block BASE_CONTENIDO %}
    <div class="row aling-items-center my-5">
        <h1 class="pb-lg-3 text-bg-light">
            <center> {% block INDEX_TITULO %}
                TERCER ENTREGA PYTHON
    {% endblock INDEX_TITULO %}</center>
        </h1>
    </div>

    {% block INDEX_CONTENIDO %}

       <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Logo_blackbg.png/800px-Logo_blackbg.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light"> Bienvenido </h1>
            <p>Para ingresar al administrador utilice: Username:admin Password: 12345
            </p>
            <a class="btn btn-primary" href="https://wa.me/11720343347" target="_blank">Whatsapp</a>
        </div>
    </div>

    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'Home/card.html' with boton="ESTUDIANTES"%} 
        {% include 'Home/card.html' with boton="CURSOS"%} 

    </div>

    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}